<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Employee Home Page</title>
<link rel="stylesheet" type="text/css" href="ExternalStyle.css">
</head>
<body>
<a href="manager">
<button>Manager</button></a>
<br/>
<h2> Welcome : to Employee Home Page <span id = "user"></span></h3>
<h4>Menu options:</h4>
<br/>
<br/>

<a href="reinbursement">
<button>Reinbursement Info</button></a>
<br/>
<a href="updatereinbursement">
<button>Update Reinbursement</button></a>
<br/>
<a href="soloreinbursement">
<button>Specfic Reinbursement</button></a>
<br/>
<a href="employee">
<button>Employee Directory</button></a>
<br/>
<a href="updateemployee">
<button>Update Your Info</button></a>
<br/>
<br/>
<br/>
<a href="elogout">
<button>Employee Logout!</button></a>
<br/>

<script src = "Homescript.js"></script>
</body>
</html>