<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>projectone</display-name>

  <servlet>
    <description></description>
    <display-name>FrontController2</display-name>
    <servlet-name>FrontController2</servlet-name>
    <servlet-class>com.revature.howard.controller.FrontController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController2</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>