<p>
  navbar works!
</p>
<div>
    <button class = "btn btn-success" routerLink = '/first' >First Component</button>
  <button class = "btn btn-success" routerLink = '/databinding' >Data Binding</button>
  <button class = "btn btn-success" routerLink = '/userprofile' >User Profile</button>
  <button class = "btn btn-success" routerLink = '/pipes' >Pipes</button>
  <button class = "btn btn-success" routerLink = '/adirectives' >A-Directives</button>
  <button class = "btn btn-success" routerLink = '/sdirectives' >S-Directives</button>
</div>